{{>head}}

<body  class="b-body b-body_404">


<section class="b-404">
   <div class="b-404__wrap">
       <div class="b-404__m-wrap">
           <img class="b-404__i" alt="404" src="../html/blocks/i-img/404.png">
       </div>

       <h3 class="b-404__title">Страница не найдена</h3>

       <p class="b-404__txt" style="margin-bottom: 20px;">
           Эта страница была удалена или никогда не существовала. <br/>
           Попробуйте вернуться назад или перейти на главную страницу сайта
       </p>

       <div class="b-404__c-box">
           <a class="b-button" href="/">На главную</a>
           <a class="b-logo b-logo_404 b-404__logo" href="/">LoveLess Foundation</a>
       </div>
   </div>
</section>


<script src="publish/script.js"></script>

</body>
</html>

