{{>head}}

<body class="b-body">


<div class="b-page">
    <div class="b-page__wrap">

        {{>header}}

        <div class="b-wrapper">
            <div class="b-content">
                <section class="b-grid">

                    <section class="b-grid__col b-grid__col_1">
                        {{>nav}}
                    </section>

                    <section class="b-grid__col b-grid__col_3">
                        {{>basket}}
                    </section>

                    <aside class="b-grid__col b-grid__col_2">


                        <section style="padding: 30px; padding-top: 14px;" class="b-round-box">
                            <div class="b-breadcrumb">
                        <span class="b-breadcrumb__item">
                            <a href="#" class="breadcrumb__link">Главная</a>
                            <span class="b-breadcrumb__divider">/</span>
                        </span>
                        <span class="b-breadcrumb__item b-breadcrumb__item_active_yes">
                            Каталог
                        </span>
                            </div>

                            <h1 class="b-h-title">Каталог продукции</h1>


                            <section class="b-cat-section">
                                <h2 class="b-cat-section__h">
                                    <a href="">Первая помощь</a>
                                </h2>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Жаропонижающее, болеутоляющее</a>&nbsp;<span
                                        class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">При отравлении</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Перевязочные материалы</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Аптечки</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>
                            </section>

                            <section class="b-cat-section">
                                <h2 class="b-cat-section__h">
                                    <a href="">Биологически активные добавки</a>
                                </h2>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Пептидные биорегуляторы</a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Влияющие на функции ЦМС</a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Влияющие на процессы тканевого
                                        обмена </a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Источники минеральных веществ</a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Поддерживающие иммунитет </a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                            </section>


                            <section class="b-cat-section">
                                <h2 class="b-cat-section__h">
                                    <a href="">Биологически активные добавки</a>
                                </h2>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Пептидные биорегуляторы</a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Влияющие на функции ЦМС</a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Влияющие на процессы тканевого
                                        обмена </a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Источники минеральных веществ</a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Поддерживающие иммунитет </a>
                                    <span class="b-cat-section__num">(27)</span>
                                </div>
                            </section>

                            <section class="b-cat-section">
                                <h2 class="b-cat-section__h">
                                    <a href="">Первая помощь</a>
                                </h2>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Жаропонижающее, болеутоляющее</a>&nbsp;<span
                                        class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">При отравлении</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Перевязочные материалы</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Аптечки</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>
                            </section>

                            <section class="b-cat-section">
                                <h2 class="b-cat-section__h">
                                    <a href="">Первая помощь</a>
                                </h2>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Жаропонижающее, болеутоляющее</a>&nbsp;<span
                                        class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">При отравлении</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Перевязочные материалы</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Аптечки</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>
                            </section>


                            <section class="b-cat-section">
                                <h2 class="b-cat-section__h">
                                    <a href="">Первая помощь</a>
                                </h2>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Жаропонижающее, болеутоляющее</a>&nbsp;<span
                                        class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">При отравлении</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href="">Перевязочные материалы</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>

                                <div class="b-cat-section__el">
                                    <a class="b-cat-section__a" href=""> Аптечки</a>&nbsp;<span class="b-cat-section__num">(27)</span>
                                </div>
                            </section>



                        </section>


                    </aside>

                </section>

            </div>
        </div>


    </div>

    {{>footer}}

</div>


<script src="publish/script.js"></script>

</body>
</html>

