{{>head}}

<body class="b-body">


<div class="b-page">
    <div class="b-page__wrap">

        {{>header}}

        <div class="b-wrapper">
            <div class="b-content">
                <section class="b-grid">

                    <section class="b-grid__col b-grid__col_1">
                        {{>nav}}
                    </section>

                    <section class="b-grid__col b-grid__col_3">
                       {{>basket-empty}}
                    </section>

                    <aside class="b-grid__col b-grid__col_2">


                        <section style="padding: 30px; padding-top: 14px;" class="b-round-box">
                            <div class="b-breadcrumb">
        <span class="b-breadcrumb__item">
            <a href="#" class="breadcrumb__link">Главная</a>
        </span>
                                <span class="b-breadcrumb__divider">/</span>
        <span class="b-breadcrumb__item">
            <a href="#" class="breadcrumb__link">Каталог</a>
        </span>
                                <span class="b-breadcrumb__divider">/</span>
        <span class="b-breadcrumb__item">
            <a href="#" class="breadcrumb__link">Мама и малыш</a>
        </span>
                                <span class="b-breadcrumb__divider">/</span>
        <span class="b-breadcrumb__item b-breadcrumb__item_active_yes">
           Детское питание
        </span>
                            </div>

                            <h1 class="b-h-title">Детское питание</h1>

                            <section class="b-nav-cat">

                                <span class="b-nav-cat__el"><a class="b-nav-cat__lnk" href="">Детское
                                    лечебно-профилактическое питание</a>&nbsp;<i
                                        class="b-nav-cat__num">(37)</i></span></span>
                                <span class="b-nav-cat__el"><a class="b-nav-cat__lnk" href="">Безлактозные,
                                    низколактозные, гидролизированные и другие смеси</a>&nbsp;<i class="b-nav-cat__num">
                                    (321)</i></span>
                                <span class="b-nav-cat__el"> <a class="b-nav-cat__lnk" href="">Молочные смеси второго
                                    уровня с 6 месяцев </a>&nbsp;<i class="b-nav-cat__num">(37)</i></span>
                                <span class="b-nav-cat__el">  <a class="b-nav-cat__lnk" href="">Смеси для маловесных
                                    недоношенных детей </a>&nbsp;<i class="b-nav-cat__num">(55)</i></span>
                                <span class="b-nav-cat__el">  <a class="b-nav-cat__lnk" href="">Соевые смеси </a>&nbsp;<i
                                        class="b-nav-cat__num">(91)</i></span>
                            </section>

                            <section>
                                {{#each products}}
                                    {{>b-product-line}}
                                    <div class="b-separator_full"></div>
                                {{/each}}
                            </section>

                        </section>


                    </aside>

                </section>

            </div>
        </div>


    </div>

    {{>footer}}

</div>


<script src="{{srcJs}}"></script>
<script src="{{srcJs}}"></script>

</body>
</html>

