{{>head}}

<body class="b-body">


<div class="b-page">
    <div class="b-page__wrap">

        {{>header}}

        <div class="b-wrapper">
            <div class="b-content">
                <section class="b-grid">

                    <section class="b-grid__col b-grid__col_1">
                        {{>nav}}
                    </section>

                    <section class="b-grid__col b-grid__col_3">
                        {{>basket}}
                    </section>

                    <aside class="b-grid__col b-grid__col_2">


                        <section style="padding: 30px; padding-top: 14px;" class="b-round-box">
                            <div class="b-breadcrumb">
                                <span class="b-breadcrumb__item">
                                    <a href="#" class="breadcrumb__link">Главная</a>
                                </span>
                                <span class="b-breadcrumb__divider">/</span>
                                <span class="b-breadcrumb__item">
                                    <a href="#" class="breadcrumb__link">Каталог</a>
                                </span>
                                <span class="b-breadcrumb__divider">/</span>
                                <span class="b-breadcrumb__item">
                                    <a href="#" class="breadcrumb__link">Мама и малыш</a>
                                </span>
                                <span class="b-breadcrumb__divider">/</span>
                                <span class="b-breadcrumb__item">
                                    <a href="#" class="breadcrumb__link">Детское питание</a>
                                </span>
                                <span class="b-breadcrumb__divider">/</span>
                                <span class="b-breadcrumb__item">
                                    <a href="#" class="breadcrumb__link"></a>
                                </span>

                                <span class="b-breadcrumb__item b-breadcrumb__item_active_yes">
                                  Молочные смеси второго уровня с 6 месяцев
                                </span>
                            </div>

                            <h1 class="b-h-title">Молочные смеси второго уровня с 6 месяцев</h1>


                            <section>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod3.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                                                сливках 200 г
                                            </a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>

                                </div>

                                <div class="b-separator_full"></div>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod2.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                                                сливках 200 г
                                            </a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>

                                </div>

                                <div class="b-separator_full"></div>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod3.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                                                сливках 200 г
                                            </a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>

                                </div>

                                <div class="b-separator_full"></div>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod2.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                                                сливках 200 г
                                            </a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>

                                </div>

                                <div class="b-separator_full"></div>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod2.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                                                сливках 200 г
                                            </a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>

                                </div>

                                <div class="b-separator_full"></div>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod1.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz</a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>

                                </div>

                                <div class="b-separator_full"></div>

                                <div class="b-product-line">
                                    <div class="b-product-line__col-3">
                                        <figure class="b-product-line__pic">
                                            <a href="">
                                                <img class="b-product-line__img" src="tmp/prod2.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="b-product-line__col-1">

                                        <div class="b-product-line__t">
                                            <a class="b-product-line__t-l" href="">Пудинг Heinz</a>
                                        </div>
                                        <div class="b-product__price">
                                            от 180 руб.
                                        </div>
                                    </div>
                                    <div class="b-product-line__col-2">
                                        <a class="b-button b-product-line__btn" href="">в корзину</a>
                                    </div>
                                </div>

                            </section>

                        </section>


                    </aside>

                </section>

            </div>
        </div>


    </div>

    {{>footer}}

</div>


<script src="{{srcJs}}"></script>

</body>
</html>

