{{>head}}

<body class="b-body">


<div class="b-page">
    <div class="b-page__wrap">

        {{>header}}

        <div class="b-wrapper">
            <div class="b-content">
                <section class="b-grid">

                    <section class="b-grid__col b-grid__col_1">
                        {{>nav}}
                        <?php include('html-parts/add-nav.html'); ?>
                    </section>

                    <section class="b-grid__col b-grid__col_3">
                        <?php include('html-parts/widget.html'); ?>
                    </section>

                    <aside class="b-grid__col b-grid__col_2">


                        <section style="padding: 30px; padding-top: 14px;" class="b-round-box">
                            <div class="b-breadcrumb"></div>

                            <div class="b-text">
                                <h1>Аллергия</h1>

                                <p>Аллергия – это повышенная чувствительность иммунной системы к некоторым внешним
                                    раздражителям, которые называют аллергенами. Эти вещества можно сравнить с военными
                                    захватчиками, которые нарушают мирную жизнь людей также, как аллергены спокойное
                                    состояние вашего организма.</p>

                                <p>
                                    Признаки заболевания появляются при влиянии раздражителей на организм и чаще всего
                                    выражаются в форме астмы, чихания, аллергического насморка, дерматита, крапивницы,
                                    рези в глазах, и других, вплоть до головной боли. Иногда симптомы заболевания
                                    достаточно незначительны и не доставляют сильного беспокойства больному, но иногда
                                    могут привести к отёку Квинке, анафилактическому шоку и даже летальному исходу.
                                </p>

                                <p>
                                    Лучшее лечение аллергии – это изменение образа жизни, окружающей среды и привычек человека. Однако такая возможность есть не всегда, а предсказать аллергическую реакцию бывает очень трудно. Поэтому на помощь приходят медицинские препараты для лечения и снятия симптомов аллергии.
                                </p>
                            </div>

                            {{>accords}}

                        </section>




                    </aside>

                </section>

            </div>
        </div>


    </div>

    {{>footer}}

</div>


<script src="publish/script.js"></script>

</body>
</html>

