{{>head}}

<body class="b-body">

<div class="b-page">
    <div class="b-page__wrap">

        {{>header}}

        <div class="b-wrapper">
            <div class="b-content">
                <section class="b-grid">
                    <section class="b-grid__col b-grid__col_1">
                        <nav class="b-nav">
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Витамины</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href=""> Гигиена</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Коррекция веса</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Косметика</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Лекарства и БАД</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Медтехника</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Ортопедия</a>
                            </div>
                            <div class="b-nav__box">
                                <a class="b-nav__lnk" href="">Средства первой помощи</a>
                            </div>
                        </nav>
                    </section>


                    <aside class="b-grid__col b-grid__col_2">


                        <div class="b-text">

                            <div>
                                <ul>
                                    {{#each  pages}}
                                        <li>{{data.name}} <a href="{{pageName}}"> {{basename }} </a></li>
                                    {{/each  }}
                                </ul>
                            </div>

                        </div>

                        <div>
                            тестовый тест
                        </div>

                    </aside>

                </section>

            </div>
        </div>


    </div>
    <footer class="b-footer"></footer>
</div>


<script src="{{srcJs}}"></script>

</body>
</html>

