<div class="b-round-box b-add-nav">
    <div class="b-title b-add-nav__h">Полезная информация</div>

    <nav>
        <div class="b-add-nav__b">
            <a class="b-add-nav__a" href="">Аллергия</a>
        </div>
        <div class="b-add-nav__b">
            <a class="b-add-nav__a" href="">Грипп</a>
        </div>
        <div class="b-add-nav__b">
            <a class="b-add-nav__a" href="">Угри и прыщи</a>
        </div>
        <div class="b-add-nav__b">
            <a class="b-add-nav__a" href="">Гипертония</a>
        </div>
    </nav>
</div>