<!-- basket-->
<div class="b-widget b-widget_empty">
    <div class="b-widget__inner">
        <div class="b-widget__head">
            <span class="b-widget__em">Нет товаров</span>
            <a class="b-widget__ps-l" href="">Корзина</a>
        </div>
    </div>
</div>
<!-- basket end-->