<!-- footer -->

<footer class="b-footer">
    <div class="b-wrapper b-footer__inner">


        <div style="float: right;  width: 129px;">
            <div class="b-jetstyle">
                <a class="b-jetstyle__logo" href=""></a>
                <div>
                    Сайт разработан
                    компанией <a href="">JetStyle</a>
                </div>
            </div>
        </div>

        <div style="overflow: hidden;">
            <nav class="b-foot-nav">
                <a class="b-foot-nav__a" href="">Способы оплаты</a>
                <a class="b-foot-nav__a" href="">Сервисные центры</a>
                <a class="b-foot-nav__a" href="">Обмен и возврат</a>
                <a class="b-foot-nav__a" href=""> Доставка</a>
                <a class="b-foot-nav__a" href=""> Публичная оферта</a>
                <a class="b-foot-nav__a" href="">Вакансии</a>
                <a class="b-foot-nav__a" href="">Контакты</a>
            </nav>

            <div class="b-nav-sub">
            <span class="b-nav-sub__el">
                <i class="b-nav-sub__icon"></i>
                <a class="b-nav-sub__a b-nav-sub__a_ps " data-toggle="modal" data-target="#js-ask-quest" href="#">Задать
                    вопрос </a>
            </span>
            <span class="b-nav-sub__el">
                <i class="b-nav-sub__icon b-nav-sub__icon_mail"></i>
                <a class="b-nav-sub__a" href="">hello@fastfarma.ru</a>
            </span>
            <span class="b-nav-sub__el">
                <i class="b-nav-sub__icon b-nav-sub__icon_skype"></i>
                <a class="b-nav-sub__a" href="">fastfarma</a>
            </span>
            </div>



            <div class="b-footer__copyr">
                © 2013 «Fastfarma» — современная интернет-аптека Екатеринбурга
            </div>

            <div class="b-valleta">
                <div class="b-valleta__logo">
                    Аптечная сеть "Валета"
                </div>
                <div class="b-valleta__txt">
                    Доставка медикаментов <br/>
                    на дом из аптечной сети “Валета”
                </div>
            </div>
        </div>

    </div>
</footer>

<!-- footer end -->