<!-- header-->
<header class="b-header b-header_t_2">
    <div class="b-wrapper b-wrapper_header">
        <section class="b-grid">
            <section class="b-grid__col b-grid__col_1">
                <a class="b-logo" href="/">LoveLess Foundation</a>
            </section>
            <section class="b-grid__col b-grid__col_2">
<!--                <div class="b-city-select" style="height: 29px; line-height: 29px">
                    <span> Ваш город:</span> <a class="b-city-select__call" href="">Екатеринбург</a>
                </div>-->
                <div class="b-slog">
                    доставка медикаментов на дом
                </div>
                <div class="b-phones">
                    <div class="b-phones__h">круглосуточная справочная</div>
                    <div class="b-phones__p">(343) 385-11-11</div>
                </div>
            </section>

            <section class="b-grid__col b-grid__col_3">
              <!--<div class="b-user-login">
                  <a class="b-user-login__lnk" href="">Выход</a>
                  <div class="b-user-login__name">
                      Пётр Иванов
                  </div>
              </div>-->
            </section>
        </section>
    </div>
</header>
<!-- header end-->