<!-- header-->
<header class="b-header">
    <div class="b-wrapper b-wrapper_header">
        <section class="b-grid">
            <section class="b-grid__col b-grid__col_1">
                <a class="b-logo" href="/">LoveLess Foundation</a>
            </section>
            <section class="b-grid__col b-grid__col_2">
<!--                <div class="b-city-select" style="height: 29px; line-height: 29px">
                    <span> Ваш город:</span> <a class="b-city-select__call" href="">Екатеринбург</a>
                </div>-->
                <div class="b-search">
                    <form class="b-search__ins" action="">
                        <input data-source="/shop/www/static/html/ajax/autoprod.json" class="b-search__inp js-suggest" placeholder="Введите название лекарства">
                        <input  value="Найти" type="submit" class="b-button b-search__submit">
                    </form>
                </div>
            </section>
            <section class="b-grid__col b-grid__col_3">
              <!--<div class="b-user-login">
                  <a class="b-user-login__lnk" href="">Выход</a>
                  <div class="b-user-login__name">
                      Пётр Иванов
                  </div>
              </div>-->
            </section>
        </section>
    </div>
</header>
<!-- header end-->