<!-- nav-->
<nav class="b-nav js-cat-nav">

    <div class="b-nav__header">
        Каталог
        <div class="b-nav__toggler">
            <div class="b-nav__toggler-el"></div>
            <div class="b-nav__toggler-el"></div>
            <div class="b-nav__toggler-el"></div>
        </div>
    </div>

    <div class="b-nav__menu">
        {{#each nav}}
        <div class="b-nav__box">
            <a class="b-nav__lnk {{mod}}" href="{{link}}">
                {{name}}
            </a>
        </div>
        {{/each}}
    </div>

</nav>
<!-- nav end-->