<!-- nav-->
<nav class="b-nav js-cat-nav">

    <div class="b-nav__header">
        Каталог
        <div class="b-nav__toggler">
            <div class="b-nav__toggler-el"></div>
            <div class="b-nav__toggler-el"></div>
            <div class="b-nav__toggler-el"></div>
        </div>
    </div>

    <div class="b-nav__menu">
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Витамины</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href=""> Гигиена</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Коррекция веса</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Косметика</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Лекарства и БАД</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Медтехника</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Ортопедия</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk" href="">Средства первой помощи</a>
        </div>
        <div class="b-nav__box">
            <a class="b-nav__lnk b-nav__lnk_state_active" href="">Поиск по симптомам</a>
        </div>
    </div>
</nav>
<!-- nav end-->