<!-- order -->

<div class="b-order">
    <div class="b-order__h">
        <span class="b-order__h-g-1">Наименование</span>

        <span class="b-order__h-g-2">Кол-во</span>

        <span class="b-order__h-g-3">Стоимость</span>
    </div>
    <section class="b-order__con">
        <div class="b-product-line b-product-line_sc_basket">
            <div class="b-product-line__col-3">
                <figure class="b-product-line__pic">
                    <a href="">
                        <img class="b-product-line__img" src="tmp/prod1.jpg" alt="">
                    </a>
                </figure>
            </div>
            <div class="b-product-line__col-1">

                <div class="b-product-line__t">
                    <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                        сливках 200 г
                    </a>
                </div>

            </div>


            <div class="b-product-line__col-3">
                <div class="b-num-control" >
                    <span class="b-num-control__c">−</span>
                    <input class="b-num-control__in b-input" value="33">
                    <span class="b-num-control__c">+</span>
                </div>
            </div>
            <div class="b-product-line__col-4">
                123213 руб.
            </div>
            <div class="b-product-line__col-2">
                <a class="b-product-line__del" href="">x</a>
            </div>
        </div>
        <div class="b-separator_full"></div>
        <div class="b-product-line b-product-line_sc_basket">
            <div class="b-product-line__col-3">
                <figure class="b-product-line__pic">
                    <a href="">
                        <img class="b-product-line__img" src="tmp/prod2.jpg" alt="">
                    </a>
                </figure>
            </div>
            <div class="b-product-line__col-1">

                <div class="b-product-line__t">
                    <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                        сливках 200 г
                    </a>
                </div>

            </div>


            <div class="b-product-line__col-3">
                <div class="b-num-control" >
                    <span class="b-num-control__c">−</span>
                    <input class="b-num-control__in b-input" value="33">
                    <span class="b-num-control__c">+</span>
                </div>
            </div>
            <div class="b-product-line__col-4">
                123213 руб.
            </div>
            <div class="b-product-line__col-2">
                <a class="b-product-line__del" href="">x</a>
            </div>
        </div>
        <div class="b-separator_full"></div>
        <div class="b-product-line b-product-line_sc_basket">
            <div class="b-product-line__col-3">
                <figure class="b-product-line__pic">
                    <a href="">
                        <img class="b-product-line__img" src="tmp/prod3.jpg" alt="">
                    </a>
                </figure>
            </div>
            <div class="b-product-line__col-1">

                <div class="b-product-line__t">
                    <a class="b-product-line__t-l" href="">Пудинг Heinz фруктовое ассорти в
                        сливках 200 г
                    </a>
                </div>

            </div>


            <div class="b-product-line__col-3">
                <div class="b-num-control" >
                    <span class="b-num-control__c">−</span>
                    <input class="b-num-control__in b-input" value="33">
                    <span class="b-num-control__c">+</span>
                </div>
            </div>
            <div class="b-product-line__col-4">
                123213 руб.
            </div>
            <div class="b-product-line__col-2">
                <a class="b-product-line__del" href="">x</a>
            </div>
        </div>

        <div class="b-separator_full"></div>

        <div class="b-order__res">
            <div class="b-order__res-c-1">
                Доставка
            </div>

            <div class="b-order__res-c-2">200 руб.</div>
        </div>
    </section>
    <footer class="b-order__foot">
        <div class="b-order__res">
            <div class="b-order__res-c-1"> Итого</div>

            <div class="b-order__res-c-2"><b>27633 руб.</b></div>
        </div>
    </footer>
</div>
<!-- order end -->