<section class="b-round-box b-product-card">
    <div class="b-product-card__title">Синупрет, 300 мл</div>
    <div class="b-product-card__grid-box">
        <div class="b-product-card__grid-1">
            <div class="b-product-card__pic">
                <img class="b-product-card__img" src="tmp/prodFull1.jpg" alt="">
            </div>
        </div>
        <div class="b-product-card__grid-2">
            <div class="b-product-card__box-1">

                <div class="b-product-card__inf">Непатентованное название: <b>Herbal antitussive remedies</b></div>
                <div class="b-product-card__price">500 руб.</div>
                <div class="b-product-card___offert">Мы подберем для вас самое выгодное предложение</div>

                <div class="b-product-card__count">
                    <a class="b-button b-button_sc_count" href="">в корзину</a>

                    <div class="b-num-control" style="display: inline-block; vertical-align: top;">
                        <span class="b-num-control__c">−</span>
                        <input class="b-num-control__in b-input" value="33">
                        <span class="b-num-control__c">+</span>
                    </div>

                </div>

                <div class="b-product-card__important-inf">Рецептурный препарат</div>

                <section class="b-product-card__contr-box">
                    <div class="b-product-card__contr-h">
                        Противопоказания
                    </div>

                    <div class="b-product-card__contr-items">
                        <span class="b-contra b-contra_type_child">1</span>
                        <span class="b-contra b-contra_type_drink">2</span>
                    </div>
                </section>

                <section class="b-product-card__stuff-box">
                    <div class="b-product-card__h">Действующее вещество:</div>
                    <div class="b-product-card__stuff">
                        <a class="b-product-card__stuff-el" href="">Горечавки корень (0,2 мг)</a>,
                        <a class="b-product-card__stuff-el" href="">Первоцвета цветки (0,6 г)</a>,
                        <a class="b-product-card__stuff-el" href="">Щавеля трава (0,6 г)</a>,
                        <a class="b-product-card__stuff-el" href="">Бузины цветки (0,6 г)</a>,
                        <a class="b-product-card__stuff-el" href=""> Вербены трава (0)</a>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <div class="b-product-card__foot">
        <div class="b-product-card__tabs">
            <nav class="nav-tabs">
                <a data-toggle="tab" class="b-product-card__tab-lnk" href="#tab-1">Описание</a>
                <a data-toggle="tab" class="b-product-card__tab-lnk" href="#tab-2">Состав и форма выпуска</a>
            </nav>
        </div>
        <section class="b-product-card__tab-box">
            <div id="tab-1" class="b-product-card__tab ">
                <div  class="b-text">Нортон имел адвокатскую практику в Нью-джерси, а на Лонглейк у него был только
                    летний коттедж. Два года назад у нас с ним возник конфликт из-за границы участков, дело пошло в суд,
                    и я выиграл. Как считал Нортон, выиграл я только потому, что он нездешний, и с тех пор отношения
                    между нами оставались довольно прохладными.
                </div>
            </div>
            <div id="tab-2"  class="b-product-card__tab">
                <div class="b-text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной
                    "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал
                    большую
                    коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не
                    только
                    успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его
                    популяризации в
                    новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более
                    недавнее
                    время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem
                    Ipsum.
                </div>
            </div>
        </section>
        <section class="b-mess" style="">
            <h5 class="b-mess__title">Доставка товара возможна после оплаты на сайте</h5>

            <div class="b-mess__box">
                <figure class="b-mess__icon"></figure>
                Мы заботимся о вас. Чтобы гарантировать доставку, мы вынуждены брать предоплату.
                Благодарим за понимание. Полнее читайте <a href="">правила доставки</a>.
            </div>
        </section>
        <div class="b-product-card__feature">

            <div class="b-product-card__feat-g">
                <div class="b-feature b-feature_type_24">
                    <div class="b-feature__img"></div>
                    <div class="b-feature__txt">Круглосуточная <br> доставка</div>
                </div>
            </div>
            <div class="b-product-card__feat-g">
                <div class="b-feature b-feature_type_no-back">
                    <div class="b-feature__img"></div>
                    <div class="b-feature__txt">Не подлежит <br> возврату</div>
                </div>
            </div>
            <div class="b-product-card__feat-g">
                <div class="b-feature b-feature_type_sms">
                    <div class="b-feature__img"></div>
                    <div class="b-feature__txt">SMS-оповещение о статусе заказа</div>
                </div>
            </div>
            <div class="b-product-card__feat-g">
                <div class="b-feature b-feature_type_lock">
                    <div class="b-feature__img"></div>
                    <div class="b-feature__txt">Герметичная <br> упаковка</div>
                </div>
            </div>
            <div class="b-product-card__feat-g">
                <div class="b-feature b-feature_type_100">
                    <div class="b-feature__img"></div>
                    <div class="b-feature__txt">100% оплата по <br> безналичному расчету</div>
                </div>
            </div>

        </div>
    </div>
</section>
