<div class="b-round-box">
    <div class="b-pro-widget b-pro-widget_pay">
        <div style="margin-bottom: 31px;" class="b-text b-text_widget">
            <p>На сайте принимается оплата при помощи следующих платежных систем:</p>
        </div>
        <figure class="b-pro-widget__pic" style="">
            <img src="tmp/banner-img2.png" alt=""/>
        </figure>

    </div>
</div>