<div style="margin-bottom: 27px" class="b-round-box">
    <div class="b-pro-widget">
        <figure class="b-pro-widget__pic" style="">
            <a href="">
                <img src="tmp/banner-img.png" alt="стать курьером">
            </a>
        </figure>
        <div>
            <ul class="b-pro-widget__ul">
                <li>Выбирай заказ</li>
                <li>Доставляй</li>
                <li>Получай деньги</li>
            </ul>
        </div>
        <div>
            <a class="b-button b-button_sc_widget" href="">Стать курьером</a>
        </div>
    </div>
</div>


