<div class="b-product-line">
    <div class="b-product-line__col-3">
        <figure class="b-product-line__pic">
            <a href="">
                <img class="b-product-line__img" src="{{img}}" alt="">
            </a>
        </figure>
    </div>
    <div class="b-product-line__col-1">

        <div class="b-product-line__t">
            <a class="b-product-line__t-l" href="">{{name}}</a>
        </div>
        <div class="b-product-line__price">
            от {{price}} руб.
        </div>
    </div>
    <div class="b-product-line__col-2">
        <a  class="b-button b-product-line__btn" href="">в корзину</a>
    </div>
</div>
